@import "tailwindcss";
@import "tailwindcss-neumorphism-ui";

@source inline("shadow-none");

@theme {
  --breakpoint-xs: 30rem;
  --color-base-50: theme(colors.zinc.50);
  --color-base-100: theme(colors.zinc.100);
  --color-base-200: theme(colors.zinc.200);
  --color-base-300: theme(colors.zinc.300);
  --color-base-400: theme(colors.zinc.400);
  --color-base-500: theme(colors.zinc.500);
  --color-base-600: theme(colors.zinc.600);
  --color-base-700: theme(colors.zinc.700);
  --color-base-800: theme(colors.zinc.800);
  --color-base-900: theme(colors.zinc.900);
  --color-base-950: theme(colors.zinc.950);
}

@layer components {
  .plateau {
    @apply nm-protrude transition-all duration-200 ease-out bg-linear-to-br
      from-base-100 to-base-200;

    &.success {
      @apply to-green-200 dark:from-green-900;
    }

    &.danger {
      @apply to-red-200 dark:from-red-900;
    }

    &.warning {
      @apply to-yellow-200 dark:from-yellow-900;
    }

    &.info {
      @apply to-blue-200 dark:from-blue-900;
    }

    @variant dark {
      @apply text-white nm-highlight-base-700/50! nm-shadow-base-950/70!
        from-base-700 to-base-900;
    }
  }

  dialog {
    opacity: 0;
    scale: 0.95;
    transition:
      opacity 0.2s ease-out,
      scale 0.2s ease-out,
      overlay 0.2s ease-out allow-discrete,
      display 0.2s ease-out allow-discrete;

    &::backdrop {
      background-color: transparent;
      transition:
        background-color 0.2s ease-out,
        overlay 0.2s ease-out allow-discrete,
        display 0.2s ease-out allow-discrete;
    }

    &:open {
      opacity: 1;
      scale: 1;

      &::backdrop {
        background-color: rgb(0 0 0 / 50%);
      }
    }
  }

  @starting-style {
    dialog:open {
      opacity: 0;
      scale: 0.95;

      &::backdrop {
        background-color: transparent;
      }
    }
  }

  button.plateau {
    @apply cursor-pointer;
    @variant hover {
      @apply nm-protrude-md;
    }

    @variant active {
      @apply nm-dent-sm;
    }
  }
}
